			<section id="disclaimer">
				You agree to my <a title="disclaimer" href="/new-disclaimer.html">disclaimer</a>, regardless of the decision in <a target="_blank" title="Nguyen v. B&N" href="https://scholar.google.com/scholar_case?case=11003811139217543321&hl=en&as_sdt=6&as_vis=1&oi=scholarr">Nguyen v. B&N</a>.
			</section>
			<section id="social">
				<div class="footerHeader">
					<h4>Social</h4>
					<div class="sectionIcon"><i class="far fa-share-square"></i></div>
				</div>
				<ul>
				{% if site.linkedin_username %}
					<li>
						<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
							<i class="fab fa-linkedin"></i> &nbsp;&nbsp;LinkedIn
						</a>
					</li>
				{% endif %}
				{% if site.twitter_username %}
					<li>
						<a href="https://twitter.com/{{ site.twitter_username }}">
							<i class="fab fa-twitter"></i> &nbsp;Twitter
						</a>
					</li>
				{% endif %}
				{% if site.facebook_username %}
					<li>
						<a href="https://www.facebook.com/{{ site.facebook_username }}">
							<i class="fab fa-facebook"></i> &nbsp;&nbsp;Facebook
						</a>
					</li>
				{% endif %}
				{% if site.angellist_username %}
					<li>
						<a href="https://angel.co/{{ site.angellist_username }}">
							<i class="fab fa-angellist"></i> &nbsp;&nbsp;AngelList
						</a>
					</li>
				{% endif %}
				{% if site.stack_overflow_username %}
					<li>
						<a href="https://stackexchange.com/users/{{ site.stack_overflow_username }}">
							<i class="fab fa-stack-overflow"></i> &nbsp;&nbsp;Stack Overflow
						</a>
					</li>
				{% endif %}
				{% if site.slideshare_username %}
					<li>
						<a href="https://github.com/{{ site.slideshare_username }}">
							<i class="fab fa-slideshare"></i> &nbsp;SlideShare
						</a>
					</li>
				{% endif %}
				{% if site.github_username %}
					<li>
						<a href="https://github.com/{{ site.github_username }}">
							<i class="fab fa-github"></i> &nbsp;GitHub
						</a>
					</li>
				{% endif %}
				{% if site.colnect_username %}
					<li>
						<a href="https://colnect.me/{{ site.colnect_username }}">
							<i class="fab fa-baseball-ball"></i> &nbsp;Colnect
						</a>
					</li>
				{% endif %}
				</ul>
			</section>
			<section id="causes">
				<div class="footerHeader">
					<h4>Causes</h4>
					<div class="sectionIcon"><i class="fas fa-heart"></i></div>
				</div>
				<ul>
					<li>
						<a title="Student Loan Bill Tracker" target="_blank" href="https://studentloanbilltracker.com">Student Loan Bill Tracker</a>
					</li>
					<li>
						<a title="The Anomaly Response Network" target="_blank" href="http://anomalyresponse.com">The Anomaly Response Network</a>
					</li>
					<li>
						<a title="The Mars Society" target="_blank" href="https://www.marssociety.org">The Mars Society</a>
					</li>
					<li>
						<a title="Coca-Cola Scholars Foundation" target="_blank" href="http://www.coca-colascholarsfoundation.org">Coca-Cola Scholars Foundation</a>
					</li>
					<li>
						<a title="techstars Phoenix" target="_blank" href="http://communities.techstars.com/usa/phoenix">TechStars</a>
					</li>
					<li>
						<a title="Leukemia & Lymphoma Society" target="_blank" href="http://www.lls.org">Leukemia &amp; Lymphoma Society</a>
					</li>
					<li>
						<a title="Cystic Fibrosis Foundation" target="_blank" href="https://www.cff.org">Cystic Fibrosis Foundation</a>
					</li>
					<li>
						<a title="PRISM" target="_blank" href="https://www.prismmpls.org">PRISM</a>
					</li>
					<li>
						<a title="Free Bikes 4 Kidz" target="_blank" href="http://fb4k.org">Free Bikes 4 Kidz</a>
					</li>
					<li>
						<a title="Cincinnati Works" target="_blank" href="http://www.cincinnatiworks.org">Cincinnati Works</a>
					</li>
					<li>
						<a title="Cincinnati Youth Collaborative" target="_blank" href="http://www.cycyouth.org">Cincinnati Youth Collaborative</a>
					</li>
				</ul>
				<script>
					var causesPhotos = [
						'<span title="Coca-Cola Scholars 2005"><img alt="Coca-Cola Scholars 2005" src="/assets/img/causes/100_1012-300x225.jpg" /></span>',
						'<span title="Coca-Cola Scholars 2005"><img alt="Coca-Cola Scholars 2005" src="/assets/img/causes/100_1015-300x225.jpg" /></span>',
						'<span title="Coca-Cola Scholars 2005"><img alt="Coca-Cola Scholars 2005" src="/assets/img/causes/100_1019-300x225.jpg" /></span>',
						'<span title="Coca-Cola Scholars 2005"><img alt="Coca-Cola Scholars 2005" src="/assets/img/causes/official01-300x225.jpg" /></span>',
						'<span title="Coca-Cola Scholars 2005"><img alt="Coca-Cola Scholars 2005" src="/assets/img/causes/official02-300x225.jpg" /></span>',
						'<span title="Coca-Cola Scholars 2005"><img alt="Coca-Cola Scholars 2005" src="/assets/img/causes/official03-300x225.jpg" /></span>',
						'<span title="Coca-Cola Scholars 2005"><img alt="Coca-Cola Scholars 2005" src="/assets/img/causes/official06-300x225.jpg" /></span>',
						'<span title="The Giving Fields 2013"><img alt="The Giving Fields 2013" src="/assets/img/causes/9632505736_e529ce6233_o-300x229.jpg" /></span>',
						'<span title="FB4K: 2017"><img alt="FB4K: 2017" src="/assets/img/causes/teambike.jpg" /></span>',
						'<span title="Crew 52: 2018"><img alt="Crew 52: 2018" src="/assets/img/causes/crew52.png" /></span>',
						'<span title="Crew 52: 2018"><img alt="Crew 52: 2018" src="/assets/img/causes/Crew52_ChadGreenway1_web.jpg" /></span>'
					];

					var randomCausesPhoto = causesPhotos[Math.floor(Math.random() * causesPhotos.length)];
				</script>
				<ul class="polaroids" style="width: 280px;">
					<li>
						<script>document.write(randomCausesPhoto); document.close();</script>
					</li>
				</ul>
			</section>
			<section id="geni">
				<div class="footerHeader">
					<h4>Genealogy</h4>
					<div class="sectionIcon"><i class="fab fa-pagelines"></i></div>
				</div>
				<br />
				<div style="width: 100%; text-align: center;"><a title="Geni" target="_blank" href="https://www.geni.com"><img alt="I Love Geni" src="/assets/img/daddy_heart.gif" /></a></div>
				<ul>
					<li>
						<a title="Feeney Genealogy Project" target="_blank" href="http://www.feeneygenealogy.com">Feeney Genealogy Project</a>
					</li>
				</ul>
				<br />
				<br />
				<ul class="polaroids" style="width: 280px;">
					<li class="leanRight">
						<span title="O'Dowd Castle in Easkey, Co. Sligo, Ireland: Summer 2007"><img style="width: 100%" alt="O'Dowd Castle in Easkey, Co. Sligo, Ireland: Summer 2007" src="/assets/img/1927832_503680493383_727_n-300x225.jpg" /></span>
					</li>
				</ul>
			</section>
			<section id="recommended">
				<div class="footerHeader">
					<h4>Recommended</h4>
					<div class="sectionIcon"><i class="fas fa-bullhorn"></i></div>
				</div>
				<p>Reading:</p>
				<div style="margin-left: 15%;">
					<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
					<style type="text/css" media="screen">
					.gr_custom_container_1629692397 {
					/* customize your Goodreads widget container here*/
					padding: 10px 5px 10px 5px;
					background-color: transparent;
					color: #000000;
					width: 200px
					}
					.gr_custom_header_1629692397 {
					/* customize your Goodreads header here*/
					width: 100%;
					margin-bottom: 5px;
					text-align: center;
					font-size: 80%
					}
					.gr_custom_each_container_1629692397 {
					/* customize each individual book container here */
					width: 100%;
					clear: both;
					margin-bottom: 10px;
					overflow: auto;
					padding-bottom: 4px;
					border-bottom: 1px solid #aaa;
					}
					.gr_custom_book_container_1629692397 {
					/* customize your book covers here */
					overflow: hidden;
					height: 60px;
					float: left;
					margin-right: 4px;
					width: 39px;
					}
					.gr_custom_author_1629692397 {
					/* customize your author names here */
					font-size: 10px;
					}
					.gr_custom_tags_1629692397 {
					/* customize your tags here */
					font-size: 10px;
					color: gray;
					}
					.gr_custom_rating_1629692397 {
					/* customize your rating stars here */
					float: right;
					}
					</style>

					<div id="gr_custom_widget_1629692397">
							<div class="gr_custom_container_1629692397">
					<div class="gr_custom_each_container_1629692397">
							<div class="gr_custom_book_container_1629692397">
								<a title="The DevOps Handbook: How to Create World-Class Agility, Reliability, and Security in Technology Organizations" rel="nofollow" href="https://www.goodreads.com/review/show/2695074057?utm_medium=api&amp;utm_source=custom_widget"><img alt="The DevOps Handbook: How to Create World-Class Agility, Reliability, and Security in Technology Organizations" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1473461230l/26083308._SY75_.jpg" /></a>
							</div>
							<div class="gr_custom_title_1629692397">
								<a rel="nofollow" href="https://www.goodreads.com/review/show/2695074057?utm_medium=api&amp;utm_source=custom_widget">The DevOps Handbook: How to Create World-Class Agility, Reliability, and Security in Technology Organizations</a>
							</div>
							<div class="gr_custom_author_1629692397">
								by <a rel="nofollow" href="https://www.goodreads.com/author/show/328437.Gene_Kim">Gene Kim</a>
							</div>
					</div>
					<div class="gr_custom_each_container_1629692397">
							<div class="gr_custom_book_container_1629692397">
								<a title="It Doesn't Have to Be Crazy at Work" rel="nofollow" href="https://www.goodreads.com/review/show/3019660244?utm_medium=api&amp;utm_source=custom_widget"><img alt="It Doesn't Have to Be Crazy at Work" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1523530659l/39674332._SY75_.jpg" /></a>
							</div>
							<div class="gr_custom_title_1629692397">
								<a rel="nofollow" href="https://www.goodreads.com/review/show/3019660244?utm_medium=api&amp;utm_source=custom_widget">It Doesn't Have to Be Crazy at Work</a>
							</div>
							<div class="gr_custom_author_1629692397">
								by <a rel="nofollow" href="https://www.goodreads.com/author/show/60619.Jason_Fried">Jason Fried</a>
							</div>
					</div>
					<div class="gr_custom_each_container_1629692397">
							<div class="gr_custom_book_container_1629692397">
								<a title="Zero to One: Notes on Startups, or How to Build the Future" rel="nofollow" href="https://www.goodreads.com/review/show/3004785494?utm_medium=api&amp;utm_source=custom_widget"><img alt="Zero to One: Notes on Startups, or How to Build the Future" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1513956652l/37653154._SY75_.jpg" /></a>
							</div>
							<div class="gr_custom_title_1629692397">
								<a rel="nofollow" href="https://www.goodreads.com/review/show/3004785494?utm_medium=api&amp;utm_source=custom_widget">Zero to One: Notes on Startups, or How to Build the Future</a>
							</div>
							<div class="gr_custom_author_1629692397">
								by <a rel="nofollow" href="https://www.goodreads.com/author/show/8474721.Peter_Thiel">Peter Thiel</a>
							</div>
					</div>
					<div class="gr_custom_each_container_1629692397">
							<div class="gr_custom_book_container_1629692397">
								<a title="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration" rel="nofollow" href="https://www.goodreads.com/review/show/1918032662?utm_medium=api&amp;utm_source=custom_widget"><img alt="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387742041l/19816540._SY75_.jpg" /></a>
							</div>
							<div class="gr_custom_title_1629692397">
								<a rel="nofollow" href="https://www.goodreads.com/review/show/1918032662?utm_medium=api&amp;utm_source=custom_widget">Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration</a>
							</div>
							<div class="gr_custom_author_1629692397">
								by <a rel="nofollow" href="https://www.goodreads.com/author/show/5618463.Ed_Catmull">Ed Catmull</a>
							</div>
					</div>
					<noscript>
					Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Sean, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
					</noscript>
					</div>
					</div>
					<!-- <script src="https://www.goodreads.com/review/custom_widget/1509252.Sean's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1629692397&widget_text_color=000000&widget_title_size=small&widget_width=thin" type="text/javascript" charset="utf-8"></script> -->
				</div>
				<!--
				<p>Watching:</p>
				<div style="margin-left: 15%;">
					
				</div>
				-->
			</section>
			<footer>
				<a title="StackExchange" target="_blank" href="https://stackexchange.com/users/311393/seanfromit"><img alt="StackExchange" src="https://stackexchange.com/users/flair/311393.png" /></a>
				<div id="angelhack">
					<!--
					<a title="AngelList" target="_blank" href="https://angel.co/seanfromit?follow=1&type=User&id=148193"></a>
					<script src="https://angel.co/javascripts/embed.js"></script>
					<br />
					-->
					<a title="Creative Commons" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="" width="80" height="28" src="/assets/img/by-nc-sa.png" /></a>
				</div>
				<div class="eightyButtons">
					<!-- -->
					<a title="Blogorama" target="_blank" href="http://www.blogarama.com/internet-blogs/113976-blog/"><img src="https://www.blogarama.com/images/button_sm_2.gif" alt="Follow me on Blogarama" /></a>
				</div>
				<div class="eightyButtons">
					<a title="Listed in LS Blogs the Blog Directory and Blog Search Engine" target="_blank" href="https://www.lsblogs.com"><img alt="Listed in LS Blogs the Blog Directory and Blog Search Engine" height="15" src="/assets/img/lsblogs_small.gif" width="80" /></a>
					<a title="Blog Flux" target="_blank" href="http://dir.blogflux.com"><img alt="Blog Flux Directory" height="15" src="/assets/img/blogflux80x15.gif" width="80" /></a>
				</div>
				<a style="margin-left: 15px;" href="https://internetdefenseleague.org"><img height="60" src="/assets/img/shield_badge.png" alt="Member of The Internet Defense League" /></a>
				<br /><br />
				<!-- feeney.mba footer ad -->
				<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-0099932842510810"
				 data-ad-slot="3139552208"
				 data-ad-format="auto"
				 data-full-width-responsive="true">
				 <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
				</ins>
			</footer>
		</div>
		<script id="dsq-count-scr" src="//feeney.disqus.com/count.js" async></script>
		<script>
			window._idl = {};
			_idl.variant = "modal";
			(function() {
				var idl = document.createElement('script');
				idl.async = true;
				idl.src = 'https://members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'modal');
				document.getElementsByTagName('body')[0].appendChild(idl);
			})();
		</script>
		<!-- Quantcast Tag -->
		<script type="text/javascript">
			window._qevents = window._qevents || [];

			(function() {
			var elem = document.createElement('script');
			elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
			elem.async = true;
			elem.type = "text/javascript";
			var scpt = document.getElementsByTagName('script')[0];
			scpt.parentNode.insertBefore(elem, scpt);
			})();

			window._qevents.push({
			qacct:"p-stJWtb6FuN1pT",
			uid:"seanfromit@gmail.com"
			});
		</script>

		<noscript>
			<div style="display:none;">
				<img src="//pixel.quantserve.com/pixel/p-stJWtb6FuN1pT.gif" border="0" height="1" width="1" alt="Quantcast"/>
			</div>
		</noscript>
		<!-- End Quantcast tag -->
