		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<div id="wrapper">
			<header>
				<nav class="navdecoration" id="desktopLinks">
					<ul>
						<li><a title="past" href="/past">past</a></li>
						<li><a title="blog" href="/index.html#blog">blog</a></li>
						<li><a title="works" href="/index.html#works">works</a></li>
						<li><a title="civics" href="/index.html#civics">civics</a></li>
						<li><a title="speaking" href="/index.html#speaking">speaking</a></li>
					</ul>
				</nav>
				<nav class="navdecoration" id="mobileLinks">
					<ul>
						<li><a title="about" href="/index.html#about">about</a></li>
						<li><a title="now" href="/now">now</a></li>
					</ul>
				</nav>
				<span id="headerTitle"><a title="Sean Feeney | home" href="/index.html">Sean Feeney</a></span>
				<br />
				<span id="subTitle"><strong>Architect</strong> of the digital age</span>
			</header>