<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="abstract" content="{{ site.description }}" /> 
		<meta name="copyright" content="{{ site.copyright }} {{ site.author }}" /> 
		<meta name="keywords" content="{{ site.keywords }}" /> 
		<meta name="robots" content="all" /> 
		<meta name="security" content="public" /> 
		<link rel="schema.dcterms" href="http://purl.org/dc/terms/" />
		<meta name="dcterms.description" content="{{ site.description }}" /> 
		<meta name="dcterms.language" content="{{ site.lang }}" /> 
		<meta name="dcterms.rights" content="{{ site.copyright }} {{ site.author }}" /> 
		<meta name="dcterms.subject" content="{{ site.keywords }}" /> 
		<meta name="dcterms.title" content="{{ site.author }}" />
		<!--{{ site.description }}-->
			{% seo %}
		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="https://kit.fontawesome.com/7954acf2dc.js" crossorigin="anonymous"></script>
		<script src="/assets/js/warpspeed.min.js"></script>
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		<link type="application/atom+xml" rel="alternate" href="https://feeds.feedburner.com/feeney" title="Sean Feeney - Silicon Desert Trailblazer" />
	</head>
	<body>
		<div style="position:fixed; z-index:0; top:0; left:0; width:100%; height:100%;">
			<canvas id="canvas" style="width:100%; height:100%;"></canvas>
			<script>new WarpSpeed("canvas",
				{backgroundColor:"#000",speed:0.3}
			);</script>
		</div>
{% include header.html %}

{{ content }}

{% include footer.html %}

{% if site.google_analytics %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics }}');
		</script>
{% endif %}
	</body>
</html>
